.header {
	color: #36A0FF;
	font-size: 27px;
	padding: 10px;
}

.bigicon {
	font-size: 35px;
	color: #36A0FF;
}

.box{
	height: 5em;
}

.asButton{
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.rednote{
	color:red;
	font-size: 10px;
	font-weight: bold;
}

[disabled]{
	cursor: not-allowed;
}