<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="well well-sm">
          <legend class="header pb-0">Suscripción</legend>
          <div class="pt-2">
            <div class="box">
              <div class="col-md-8">
                <input id="fname" name="name" type="text" [(ngModel)]="model.first_name" placeholder="Nombre" class="form-control">
              </div>
            </div>
            <div class="box">
              <div class="col-md-8">
                <input id="lname" name="name" type="text" [(ngModel)]="model.last_name" placeholder="Apellido" class="form-control">
              </div>
            </div>
            <div class="box">
              <div class="col-md-8">
                <input id="phone" name="phone" type="text" [(ngModel)]="model.phone" placeholder="Telefono" class="form-control">
              </div>
            </div>
            <div>
              <div class="col-md-8">
                <h5>Deseo suscribirme a los siguientes canales:</h5>
                <button type="button" (click)="checkAll()" class="asButton btn-sm btn-primary">Todos</button>
                <button type="button" (click)="uncheckAll()" class="asButton btn-sm btn-primary">Ninguno</button>
                <ul class="pl-0 pt-3">
                  <li *ngFor="let interest of interests; let i = index">
                    <input type="checkbox" value="{{interest}}" name="{{interest}}" [checked]="model.interests.indexOf(interest) > -1? 'checked' : ''"
                      (change)="updateSelectedInterests($event)"> {{interest}}
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="col-md-8 text-right">
                <button type="button" (click)="subscribe()" class="btn btn-primary btn-lg">Suscribirse</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>