<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="row">
    <div class="offset-md-3 col-md-8">
      <div class="well well-sm">
        <legend class="header pb-0">Suscripción</legend>
        <div class="pt-2">
          <div class="box">
            <div class="col-md-8">
              <h6 class="mb-0">Nombre(*):</h6>
              <input id="fname" name="name" type="text" [(ngModel)]="model.first_name" placeholder="Ingrese su nombre" class="form-control">
            </div>
          </div>
          <div class="box">
            <div class="col-md-8">
              <h6 class="mb-0">Apellido(*):</h6>
              <input id="lname" name="name" type="text" [(ngModel)]="model.last_name" placeholder="Ingrese su apellido" class="form-control">
            </div>
          </div>
          <div>
            <div class="col-md-8">
              <h6 class="mb-0">Teléfono(*):</h6>
              <span class="px-0">
                <select id="countryZip" name="countryZip" [(ngModel)]="countryZip" class="form-control col-md-2 px-0 " style=" display: inline;"
                  (change)="cleanPhone()">
                  <option value="549">549</option>
                  <option value="502">502</option>
                </select>
              </span>
              <span *ngIf="countryZip == '549'" class="col-md-10 px-0 " style=" float: right; ">
                <input id="phone" #phone="ngModel" pattern="[0-9]*" minlength="10" maxlength="10"
                  name="phone" type="text" [(ngModel)]="model.phone" placeholder="Ingrese su teléfono" class="form-control">
              </span>
              <span *ngIf="countryZip == '502'" class="col-md-10 px-0 " style=" float: right; ">
                <input id="phone" #phone="ngModel" pattern="[0-9]*" minlength="8" maxlength="8"
                  name="phone" type="text" [(ngModel)]="model.phone" placeholder="Ingrese su teléfono" class="form-control">
              </span>
            </div>
            <div *ngIf="countryZip == '549'" class="col-md-8 rednote ">Argentina(código de area sin el 0 + numero de teléfono sin el 15)
              <hr>
            </div>
            <div *ngIf="countryZip == '502'" class="col-md-8 rednote ">Guatemala(4 o 5 + número 7 dígitos)
              <hr>
            </div>
          </div>
          <div class="col-md-8 mt-4">
            <h5>Deseo suscribirme a los siguientes canales(*):</h5>
            <button type="button" (click)="checkAll()" class="asButton btn-sm btn-primary">Todos</button>
            <button type="button" (click)="uncheckAll()" class="asButton btn-sm btn-primary">Ninguno</button>
            <ul class="pl-0 pt-2">
              <li *ngFor="let interest of interests; let i = index">
                <input type="checkbox" value="{{interest}}" name="{{interest}}" [checked]="model.interests.indexOf(interest) > -1? 'checked' : ''"
                  (change)="updateSelectedInterests($event)"> {{interest}}
              </li>
            </ul>
          </div>
          <div>
            <div class="col-md-8 text-right">
              <button [disabled]="!validToSubmit()" type="button" (click)="confirmPhone(confirmDialog)" class="btn btn-primary btn-lg">Suscribirse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmDialog let-c="close" let-d="dismiss">
  <div class="modal-header" id="confirm-dialog">
    <h4 class="modal-title">Último paso antes de suscribirse!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Por favor verifique el número {{model.phone}}.</p>
    <p>Si es correcto presione el botón confirmar</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm asButton" (click)="subscribe(); c('close')" id="confirmBtn">Confirmar</button>
    <button type="button" class="btn btn-sm asButton" (click)="c('close');focusPhoneInput()" id="cancelBtn">Cancelar</button>
  </div>
</ng-template>